body {
    font-family: "Roboto",Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #607D8B;
    background: #f4f4f5;
    margin: 2em;
  }

  h2 {
    font-weight: 300;
  } 
  ul {
    font-weight: 200;
    margin: 0;
    padding: 0;
  }
  li {
    
    padding: 5px;
    line-height: 18px;
    list-style: square;
    margin: 25px;
  }
  
  li>span {
    display: inline-block;
    width: 12px;
    height: 12px;
    text-align: center;
    color: black;
    font-weight: 200;
    margin: 0.3em;
    padding: 0.3em;
    vertical-align: middle;
  }
  